[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
tensorflow-gpu = "==2.3.0"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.7"
